Package: Pidgeon services
Version: 1.0.2.20
Section: network
Priority: optional
Architecture: all
Essential: no
Depends: mono-runtime, libmono-2.0-1, libmono-addins0.2-cil, libmono-corlib2.0-cil, libmono-corlib4.0-cil, libmono-csharp4.0-cil, libmono-http4.0-cil, libmono-microsoft-csharp4.0-cil, libmono-security2.0-cil, libmono-security4.0-cil, libmono-system-net4.0-cil, libmono-system-runtime4.0-cil, libmono-system-security4.0-cil, libmono-system-web2.0-cil, libmono-system-web4.0-cil, libmono-system-xml4.0-cil, libmono-system2.0-cil, libmono-system4.0-cil, libmono-web4.0-cil
Recommends: mono-complete
Installed-Size: 1024
Maintainer: Petr Bena <benapetr@gmail.com>
Description: Bouncer for pidgeon
 This package will install pidgeon bouncer and register it as a system service
